<div [ngSwitch]="type">
  <button *ngSwitchCase="'basic'" mat-button class="button-custom">{{ title }}</button>
  <button 
    *ngSwitchCase="'flat'" 
    mat-flat-button 
    [ngClass]="{'w-full': true, 'button-secondary': isSecondary}"
  >
    {{ title }}
  </button>
  <button 
    *ngSwitchCase="'stroked'" 
    mat-stroked-button 
    [ngClass]="{'button-custom': true, 'button-secondary': isSecondary}"
  >
    {{ title }}
  </button>
  <button *ngSwitchCase="'icon'" mat-icon-button>
    <mat-icon class="">{{ title }}</mat-icon>
  </button>
</div>