<img src="assets/images/banner.jpg" alt="banner" class="w-full" />
<div class="mt-7">
  <div class="flex justify-between items-center mb-5">
    <h4 class="text-xl">Trend Categories</h4>
    <app-ui-button title="Lihat semua" type="stroked"></app-ui-button>
  </div>
  <div class="grid grid-cols-10 gap-3">
    <app-card-category title="electronics"></app-card-category>
    <app-card-category title="furniture"></app-card-category>
    <app-card-category title="jewelery"></app-card-category>
    <app-card-category title="men's clothing"></app-card-category>
    <app-card-category title="baby"></app-card-category>
    <app-card-category title="tools"></app-card-category>
    <app-card-category title="baby"></app-card-category>
    <app-card-category title="jewelery"></app-card-category>
    <app-card-category title="tools"></app-card-category>
    <app-card-category title="men's clothing"></app-card-category>
  </div>
</div>
<div class="mt-7">
  <div class="flex justify-between items-center mb-3">
    <h4 class="text-xl">Products</h4>
    <app-ui-button title="Lihat semua" type="stroked"></app-ui-button>
  </div>
  <div class="grid grid-cols-6 gap-3">
    <app-card-product title="Apple Watch" [price]="20"></app-card-product>
    <app-card-product title="Orange Bogotta" [price]="30"></app-card-product>
    <app-card-product title="Sofa Ternyaman" [price]="30.2"></app-card-product>
    <app-card-product title="Bubuk Maketti" [price]="20"></app-card-product>
    <app-card-product title="Tatakan Gelas" [price]="45.29"></app-card-product>
    <app-card-product title="Movic Kawe" [price]="50"></app-card-product>
    <app-card-product title="Black Editon Nike" [price]="70.000"></app-card-product>
    <app-card-product title="Monkey Toys" [price]="100"></app-card-product>
    <app-card-product title="Orange Bogotta" [price]="30"></app-card-product>
    <app-card-product title="Sofa Ternyaman" [price]="30.2"></app-card-product>
    <app-card-product title="Bubuk Maketti" [price]="20"></app-card-product>
    <app-card-product title="Tatakan Gelas" [price]="45.29"></app-card-product>
  </div>
</div>