<div class="flex gap-5">
  <app-dashboard-value title="Customer" value="15,209"></app-dashboard-value>
  <app-dashboard-value title="Revenue" value="$931,290"></app-dashboard-value>
  <app-dashboard-value title="Transaction" value="22,409,399"></app-dashboard-value>
</div>
<div class="mt-6">
  <h2 class="text-lg mb-3">Recent Transactions</h2>
  <div class="flex flex-col gap-3">
    <app-transaction-card 
      image="assets/dummies/pic-1.jpg" 
      productTitle="Shirup Marzan" 
      user="Angga" 
      date="20 Januari 2020">
    </app-transaction-card>
    <app-transaction-card 
      image="assets/dummies/pic-2.png" 
      productTitle="Sofa Ternyaman" 
      user="Rudi Hariadi" 
      date="12 Februai 2020">
    </app-transaction-card>
  </div>
</div>